@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: #211f1f5c;
}

::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
  border-radius: 15px;
}

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: rgb(17, 19, 20); 
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: sticky; /* Make the navbar sticky */
  top: 0; 
  width: 100%; 
  display: flex;
  justify-content: center; 
  backdrop-filter: blur(10px);
  background-color: rgba(17, 19, 20, 0.5); 
  padding: 20px;
  z-index: 1000; 
}

.navbar a {
  color: #fff;
  padding: 0px 15px;
  background-color: transparent;
  margin: 0 5px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(228, 228, 228);
}

.news-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.news-item {
  display: flex;
  background-color: rgba(78, 78, 78, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.news-item img {
  max-width: 200px;
  margin-right: 20px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.news-item:hover img {
  transform: scale(1.05);
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-content h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: #e74c3c;
}

.news-content p {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.major-news {
  border-left: 5px solid #e73c3c;
  padding-left: 20px;
  background-color: rgba(231, 76, 60, 0.1);
}
